/* Reset CSS (JANGAN DIHAPUS) */

* {
     box-sizing: border-box;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div{
    margin: 0;
    padding: 0;
}
 
body {
  font-family: "Lucida Grande";
}
li {
    list-style: none;
    float: left;
    padding: 33px 20px;
  }
a {
  text-decoration: none;
}
.clear {
    clear: left;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgb(34, 49, 52, 0.9);
    position: fixed;
    top: 0px;
    z-index: 10;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.header-left {
    float: left;
}
.logo {
    font-size: 36px;
    float: left;
    padding: 20px 40px;
    color:rgb(255, 255, 255);
}
.header-right {
    float: right;
    margin-right: -25px;
}
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    transition: all 0.5s;
}
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
    padding: 180px 0 100px 0;
    color: white;
    background-image: url(image.jpg);
    background-size: cover;
    text-align: center;
}
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}
.btn-wrapper {
    margin: 20px 0;
    text-align: center;
  }
.btn-wrapper p {
    margin: 10px 0;
  }
.signup {
    background-color: #465983;
    object-position: center;
  }
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  } 
.btn:hover {
    opacity: 1;
  }

.lesson-wrapper {
    
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: #5f5d60;
    font-size: 28px;
    border-bottom: 2px solid #18191a; 
}
.heading h2 {
    font-weight: normal;
}
.lesson {
    float: left;
    width: 20%;
}
.lesson-icon {
    position: relative;
}
.lesson-icon p {
    font-size: 20px;
    margin-top: 20px;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
.message {
    background-color: #5e829b;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px #2f5267;
}
.message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}
.heading h3 {
    font-weight: normal;
}

footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}
.footer-logo {
    font-size: 32px;
    float: left;
}
.footer-list {
    float: right;
}
.footer-list li {
    padding-bottom: 20px;
    padding-top: 30px;
}


  